.box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.box div {
	flex: 0 0 auto;
	width: 100px;
	height: 150px;
	background-color: #eeeff2;
	padding: 10px;
	border-left: 10px dotted #D0D0FF;
	font: 40px Tahoma;
	margin: 10px;
	padding: 10px;
}

.box div:hover { 
	background-color: yellow; 
	color: goldenrod;
	cursor: pointer;
}

#f { 
	position: fixed; 
	bottom: 0;
	right: 0;
	margin: 0px;
}